Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

my_dataframe = pd.DataFrame(data)

print(my_dataframe)

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:-
In Pandas, both Series and DataFrame are data structures used for handling and manipulating tabular data, but they have some key differences.

DataFram:

A DataFrame is a two-dimensional, tabular data structure in Pandas. It can be thought of as a container for Series objects.
It has rows and columns, where each column can be of a different data
Series:

A Series is a one-dimensional labeled array capable of holding any data type.
It is like a single column of data in a DataFrame.
Each element in a Series is assigned a label (index), which can be used to access the values. type.

In [ ]:
import pandas as pd
# Creating a Series
series_data = pd.Series([1, 2, 3, 4], name='MySeries')
# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
# Displaying the Series and DataFrame
print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans:-Pandas provides a variety of functions for manipulating data in a DataFrame. Some common functions include:
head() and tail(:

head(n) returns the first n rows of the DataFrame.
tail(n) returns the last n rows of the DataFrame.

In [ ]:
df_head = df.head(2)  # Get the first 2 rows
df_tail = df.tail(2)  # Get the last 2 rows

info():
info() provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.

In [ ]:
df_info = df.info()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:-Series is mutable. You can modify the values of a Series after it's been created.

In [ ]:
import pandas as pd

# Creating a Series
my_series = pd.Series([1, 2, 3, 4])

# Modifying a value in the Series
my_series[2] = 10

DataFrame is also mutable. You can add, remove, or modify columns in a DataFrame.

In [ ]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
my_dataframe = pd.DataFrame(data)

# Modifying a value in the DataFrame
my_dataframe.at[0, 'A'] = 10

# Adding a new column
my_dataframe['C'] = [7, 8, 9]

# Removing a column
my_dataframe.drop('B', axis=1, inplace=True)

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.